<a href="https://colab.research.google.com/github/shrveel/PMASDS_JU/blob/main/lab_test_20231046.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import libraries
import numpy as np
import pandas as pd

In [ ]:
#ans to the ques no

from numpy.core.fromnumeric import mean
df = pd.DataFrame(
    {
        "Name": ["Omar", "Ali", "Osama"],
        "Course 1": [90, 78, 67],
        "Course 2": [50, 75, 85],
        "Course 3": [89, 73, 80],

    }
)
df                  #complete dataframe

df["Mean"] = mean
#df["Mean"].mean()
df                  #dataframe with mean column which will have a mean function

    Name  Course 1  Course 2  Course 3                               Mean
0   Omar        90        50        89  <function mean at 0x7f6a664352d0>
1    Ali        78        75        73  <function mean at 0x7f6a664352d0>
2  Osama        67        85        80  <function mean at 0x7f6a664352d0>

In [ ]:
#ans to the ques no 2
import seaborn as sns
tip = sns.load_dataset("tips")
tip.shape

(244, 7)

In [ ]:
tip.head(100)

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1        10.34  1.66    Male     No  Sun  Dinner     3
2        21.01  3.50    Male     No  Sun  Dinner     3
3        23.68  3.31    Male     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
..         ...   ...     ...    ...  ...     ...   ...
95       40.17  4.73    Male    Yes  Fri  Dinner     4
96       27.28  4.00    Male    Yes  Fri  Dinner     2
97       12.03  1.50    Male    Yes  Fri  Dinner     2
98       21.01  3.00    Male    Yes  Fri  Dinner     2
99       12.46  1.50    Male     No  Fri  Dinner     2

[100 rows x 7 columns]

In [ ]:
tip.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
import seaborn as sns

sns.set_style("whitegrid")
plt.pie(counts,
        labels = counts.index,
        autopct = "%1.1%%"
        )
plt.axix('equal')
plt.show()

NameError: ignored